.chessboard {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #444;
}
.chessboard.flipped,
.chessboard.flipped .white.square,
.chessboard.flipped .black.square,
.chessboard.flipped .promotion-wrapper {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.chessboard .square {
  float: left;
}
.chessboard .white.square {
  background-color: #f0d9b5;
}
.chessboard .black.square {
  background-color: #b58863;
}
.chessboard .selected.square {
  background-color: #2fc5ff;
}
.chessboard .wP, .chessboard .wB, .chessboard .wN, 
.chessboard .wR, .chessboard .wQ, .chessboard .wK,
.chessboard .bP, .chessboard .bB, .chessboard .bN, 
.chessboard .bR, .chessboard .bQ, .chessboard .bK {
  background-image: url(chesspieces.png);
}
.chessboard .promotion-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.chessboard .promotion-wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: center;
}
